{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>E-Library | Blog Page</title>
{% endblock %}

{% block user %}
{% if current_clientele %}
<div>
    <small style="color:white">{{ current_clientele.clientele_id }}</small>
</div>
{% endif %}
{% endblock %}

{% block content %}
<!-- Start breadcrumb area -->
<div class="ht__breadcrumb__area bg-image--4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__inner text-center">
                    <h2 class="breadcrumb-title">Blog Page</h2>
                    <nav class="breadcrumb-content">
                        <a class="breadcrumb_item" href="{% url 'Library:home' %}">Home</a>
                        <span class="brd-separator">/</span>
                        <span class="breadcrumb_item active">Blog</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumb area -->
<!-- Start Blog Area -->
<div class="page-blog bg--white section-padding--lg blog-sidebar right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details content">
                    <div class="content">
                        <ul class="post__meta">
                            <li>Posted on : <i>{{ blog.date }}</i></li>
                        </ul>
                    </div>
                    <!-- Start Single Post -->
                    <div class="container col-xxl-8 px-4 py-5">
                        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                            <div class="col-10 col-sm-8 col-lg-6">
                                <img src="{{ blog.image.url }}" class="d-block mx-lg-auto img-fluid rounded-circle"
                                     alt="Blog Image">
                            </div>
                            <div class="col-lg-6">
                                <h1 class="display-5 fw-bold lh-1 mb-3">{{ blog.title }}</h1>
                                <ul class="blog_meta">
                                    <li>Posted on : <i>{{ blog.date }}</i></li>
                                </ul>
                                <p class="lead">{{ blog.article }}</p>
                            </div>
                        </div>
                        <ul class="blog_meta">
                            <li>{{ comments.count }} comments</li>
                        </ul>
                    </div>
                    <!-- End Single Post -->
                    <!-- Start Comment Form -->
                    <div class="comment_respond">
                            <h3 class="reply_title">Leave a Comment</h3>
                            <form class="comment__form" action="" method="post"
                          style="background-color:#D3D3EE; border-radius:5%">
                            {% csrf_token %}
                        <div class="account__form" style="border:0">
                            {% include 'library/django_form.html' with form=form %}
                            <div>
                                <button class="button is-rounded is-dark label" type="submit">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                        </div>
                    <!-- End Comment Form -->
                    <!-- End Comment Post -->
                    <div class="comments_area">
                            <ul class="comment__list">
                                {% if comments %}
                                {% for comment in comments %}
                                <li>
                                    <div class="wn__comment">
                                        <div class="thumb">
                                            {% if comment.clientele.image == '' %}
                                            <img class="is-rounded" src="{% static 'images/blog/comment/1.jpg' %}" alt="profile picture">
                                            {% else %}
                                            <img class="is-rounded" src="{{ comment.clientele.image.url }}" alt="profile picture">
                                            {% endif %}
                                        </div>
                                        <div class="content">
                                            <div class="comnt__author d-block d-sm-flex">
                                                <span>{{ comment.clientele.last_name }} {{ comment.clientele.first_name }}</span>
                                                <span>{{ comment.date }}</span>
                                                <div style="color:#cc8500">
                                                    {{ comment.clientele.role }}
                                                </div>
                                            </div>
                                            <p>{{ comment.comment }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                {% else %}
                            </ul>
                        </div>
                    <!-- End Comment Post -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-6 col-12 md-mt-40 sm-mt-40">
                <div class="wn__address">
                    <h2 class="contact__title">{{ comments.count }} comments</h2>

                    {% if comments %}
                    {% for comment in comments %}
                    <div class="wn__addres__wreapper">
                        <div class="section__title text-center is-128x128 image">
                            {% if comment.clientele.image == '' %}
                            <img class="is-rounded" src="{% static 'images/blog/comment/1.jpg' %}" alt="profile picture">
                            {% else %}
                            <img class="is-rounded" src="{{ comment.clientele.image.url }}" alt="profile picture">
                            {% endif %}
                            <div class="content">
                                <span>{{ comment.clientele.role }}: {{ comment.clientele.last_name }} {{ comment.clientele.first_name }}</span>
                                <p>{{ comment.date }}</p>
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="wn__addres__wreapper">
                        <div class="single__address">
                            <div class="content">
                                <p>No comments</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->
{% endblock %}

