{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>E-Library | Blog</title>
{% endblock %}

{% block user %}
{% if current_clientele %}
<div>
    <small style="color:white">{{ current_clientele.clientele_id }}</small>
</div>
{% endif %}
{% endblock %}

{% block content %}
<!-- Start breadcrumb area -->
<div class="ht__breadcrumb__area bg-image--4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__inner text-center">
                    <h2 class="breadcrumb-title">Blog Page</h2>
                    <nav class="breadcrumb-content">
                        <a class="breadcrumb_item" href="{% url 'Library:home' %}">Home</a>
                        <span class="brd-separator">/</span>
                        <span class="breadcrumb_item active">Blog</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumb area -->
<!-- Start Blog Area -->
<div class="page-blog bg--white section-padding--lg blog-sidebar right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-page">
                    <div class="page__header">
                        <h2>Blog Posts</h2>
                    </div>
                    {% for blog in blog_obj %}
                    <!-- Start Single Post -->
                    <div class="container col-xxl-8 px-4">
                        <div class="row flex-lg-row-reverse align-items-center g-5">
                            {% if forloop.counter|divisibleby:2 %}
                            <div class="col-10 col-sm-8 col-lg-6">
                                <img src="{{ blog.image.url }}" class="d-block mx-lg-auto img-fluid"
                                     alt="Blog Image">
                            </div>
                            <div class="col-lg-6">
                                <h3 class="fw-bold lh-1 mb-3">{{ blog.title }}</h3>
                                <ul class="blog_meta">
                                    <li>Posted on : <i>{{ blog.date }}</i></li>
                                </ul>
                                <p>{{ blog.draft }}... <a href="{% url 'Blog:blog_page' blog.title %}" style="color:#CC8500">Continue Reading</a></p>
                            </div>
                            {% else %}
                            <div class="col-lg-6">
                                <h3 class="fw-bold lh-1 mb-3">{{ blog.title }}</h3>
                                <ul class="blog_meta">
                                    <li>Posted on : <i>{{ blog.date }}</i></li>
                                </ul>
                                <p>{{ blog.draft }}... <a href="{% url 'Blog:blog_page' blog.title %}" style="color:#CC8500">Continue Reading</a></p>
                            </div>
                            <div class="col-10 col-sm-8 col-lg-6">
                                <img src="{{ blog.image.url }}" class="d-block mx-lg-auto img-fluid"
                                     alt="Blog Image">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End Single Post -->
                    {% endfor %}
                </div>
                <div class="">
                    <nav aria-label="Page navigation conatiner"></nav>
                    <ul class="pagination justify-content-center">
                        {% if blog_obj.has_previous %}
                        <li><a href="?page={{ blog_obj.previous_page_number }}" class="button is-rounded is-dark">&laquo; PREV </a></li>
                        {% endif %}
                        <span class="current mx-3">
                        Page {{ blog_obj.number }} of {{ blog_obj.paginator.num_pages }}.
                    </span>
                        {% if blog_obj.has_next %}
                        <li><a href="?page={{ blog_obj.next_page_number }}" class="button is-rounded is-dark"> NEXT &raquo;</a></li>

                        {% endif %}
                    </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->
{% endblock %}

